--- 

- name: create users with developer role
  hosts: dev,test
  vars_files:
    - ../vars/users_list.yml
    - ../vars/vault.yml
  tasks:
    - name: create devops group
      group:
        name: devops
        state: present

    - name: create users
      user:
        name: "{{ item.name }}"
        uid: "{{ item.uid }}"
        groups: devops
        append: true
        password: "{{ dev_pass | password_hash('sha512') }}"
        state: present
      loop: "{{ users }}"
      when: item.job == 'developer'

- name: create users with manager role
  hosts: prod
  vars_files:
    - ../vars/users_list.yml
    - ../vars/vault.yml
  tasks:
    - name: create managers group
      group:
        name: opsmgr
        state: present
    - name: create users
      user:
        name: "{{ item.name }}"
        uid: "{{ item.uid }}"
        groups: opsmgr
        append: true
        password: "{{ mgr_pass | password_hash('sha512') }}"
        state: present
      loop: "{{ users }}"
      when: item.job == 'manager'