--- 

- name: create logical volume
  hosts: all

  pre_tasks:
    - name: create sda partition
      parted:
        device: /dev/sda
        number: 1
        state: present
        part_end: 1.2GiB

  tasks:

    - name: create logical volume group 
      block:
      - name: create volume group if /dev/sda1 > 1200MiB
        lvg:
          vg: research
          pvs: /dev/sda1
          state: present
      
      rescue:
      - name: error message - volume group is < 1200MiB
        debug:
          msg: "The partition /dev/sda1 is less than 1200MiB, cannot create volume group."

      - name: create volume group if /dev/sda1 < 1200MiB
        lvg:
          vg: research
          pvs: /dev/sda1
          state: present
      
      always:
        - name: check if volume group exists
          fail:
            msg: "The volume group 'research' doesn't exists."
          when: " 'research' not in ansible_facts['lvm']['vgs'] "

        - name: create 1200MiB logical volume
          lvol:
            vg: research
            lv: data
            size: 1.2g
            state: present
          when: ansible_facts['lvm']['vgs']['research']['size_g'] | int >= 1.2

        - name: create 800MiB logical volume
          lvol:
            vg: research
            lv: data
            size: 800m
            state: present
          when: ansible_facts['lvm']['vgs']['research']['size_g'] | int < 1.2

        - name: create filesystem on logical volume
          filesystem:
            fstype: ext4
            dev: /dev/research/data
        

        